<!--Navbar-->
<nav class="uk-navbar-container">
    
<div class="uk-container">
            <div class="uk-navbar-center">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li>
                            <a href="#" role="button" aria-haspopup="true" aria-expanded="false">Parent</a>
                            <div class="uk-navbar-dropdown uk-drop">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-center" style="top:20%">
                    <a class="uk-navbar-item uk-logo uk-border-pill" href="./DrekiThoka/asset/image/images.jpg">
                        <img class="uk-border-pill" alt="Website Logo" src="/DrekiThoka/asset/image/logo.jpg" width="150" height="150">
                    </a>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>

            </div>

</div>
</nav>

