<!--Navbar-->
<nav class="uk-navbar-container">
            <div class="uk-navbar-center">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav uk-visible@s">
                        <li class="uk-active"><a href="#">Active</a></li>
                        <li>
                            <a href="#" role="button" aria-haspopup="true" aria-expanded="false">Parent</a>
                            <div class="uk-navbar-dropdown uk-drop">
                                <ul class="uk-nav uk-navbar-dropdown-nav">
                                    <li class="uk-active"><a href="#">Active</a></li>
                                    <li><a href="#">Item</a></li>
                                    <li><a href="#">Item</a></li>
                                </ul>
                                <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="uk-navbar-center" style="top:20%">
                    <a class="uk-navbar-item uk-logo uk-border-pill" href="./DrekiThoka/asset/image/images.jpg">
                        <img class="uk-border-pill" alt="Website Logo" src="/DrekiThoka/asset/image/logo.jpg" width="150" height="150">
                    </a>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav uk-visible@s">
                        <li><a href="#">Item</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                    <a href="#" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon uk-toggle="target: #sidenav"></a>
                </div>
            </div>
</nav>

<div id="sidenav" uk-offcanvas="flip: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">
        <ul class="uk-nav">
            <li><a class="uk-text-large" href="https://shubhamjain.co/about/">about</a></li>
            <li><a class="uk-text-large" href="https://shubhamjain.co/">blog</a></li>
        </ul>
    </div>
</div>

