<html>
    {% include head.html %}
    <body>
          <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('https://picsum.photos/1920/450');">
            <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-text-bold">
              <h1 class="uk-text-bold">Dreki Thoka</h1>
              <p class="uk-text-normal">Reconstitution viking et byzantine IX-Xeme siècle</p>
            </div> 
          </div>
<!--<div class="parallax-window" data-parallax="scroll" data-image-src="/asset/img/20220708_185040(1).jpg"></div> -->
          {% include navbar.html %}
          {% include navbar.html %}
          <div class="uk-section">
            <div class="uk-container">
                <h3 class="uk-text-bold">{{page.title}}</h3>
                      {{ content }}
              <div class="uk-child-width-expand@s uk-text-center" uk-grid>
                {% for post in site.posts %}
                  <div>
                    <div class="uk-inline">
                        <img src="/DrekiThoka/asset/image/Commequiers0819(21)_JPG.jpg" width="1800" height="1200" alt="">
                        <div class="uk-overlay uk-overlay-default uk-position-center">
                            <p>{{ page.title }}</p>
                        </div>
                    </div>
                  </div>
                {% endfor %}  
              </div>
            </div>
          </div>
                      {% include footer.html %}
    </body>
</html>