<!DOCTYPE html>
<html>
    {% include head.html %}
        <body>
          <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('https://picsum.photos/1920/450');">
            <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical uk-text-bold">
              <h1 class="uk-text-bold">Dreki Thoka</h1>
              <p class="uk-text-normal">Reconstitution viking et byzantine IX-Xeme siècle</p>
            </div> 
          </div>
<!--<div class="parallax-window" data-parallax="scroll" data-image-src="/asset/img/20220708_185040(1).jpg"></div> -->
                      {% include navbar.html %}
                      <div class="uk-child-width-expand@s" uk-grid>
    <div class="uk-grid-item-match">
        <div class="uk-card uk-card-default uk-card-body">
             <img class="uk-border-pill" alt="Website Logo" src="/DrekiThoka/asset/image/logo.jpg" style="max-width:50%; height:auto;">
        </div>
     </div>
    <div>
        <h3>Heading</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</div>
            {% include footer.html %}
        </body>
</html>

