<!DOCTYPE html>
<html>
    {% include head.html %}
        <body>

            {% include navbar.html %}
          <div class="uk-height-large uk-background-cover uk-light uk-flex" uk-parallax="bgy: -200" style="background-image: url('https://picsum.photos/1920/450');">
            <div class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">
              <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Dreki Thoka</h1>
              <p class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical">Reconstitution viking et byzantine IX-Xeme siècle</p>
            </div> 
          </div>
<!--<div class="parallax-window" data-parallax="scroll" data-image-src="/asset/img/20220708_185040(1).jpg"></div> -->
                      <div class="container-fluid shadow-lg">
                        <!--Grid row-->
                        <div class="row justify-content-md-cente" style="margin-bottom: 10px;margin-top: 10px;">
                            <div class="col-md-12 text-center">
                                <h2>{{page.title}}</h2>
                              </div>
                        </div>
                      </div>
                        <!--Grid row-->  
                      <div class="container-fluid">
                        <div class="row justify-content-md-center">
                          <div class="col col-lg-3">
                            {{ content }}
                          </div>
                          <div class="col-md-auto">
                            <img src="{{ page.img }}" class="rounded">
                          </div>
                      </div>
            {% include footer.html %}
        </body>
</html>

